* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 5rem 10rem;

    width: 100vw;
    height: 100vh;

    display: flex;
    font-family: "Roboto", sans-serif;
}

aside {
    display: inline-block;
    height: 100%;
}

#name {
    margin: 0;
    font-size: 2em;
}

#socials {
    display: flex;
    gap: 0.5em;
}

#socials>a {
    text-decoration: none;
}

#socials>a>svg {
    width: 2em;
    height: 2em;

    fill: #000000;
}

nav {
    display: inline-flex;
    flex-direction: column;
    margin-top: 2em;
}

.nav-button {
    background: transparent;
    text-align: left;
    font-size: 1.5em;
    border: none;
    padding: 5px 0px;

    text-decoration: underline;
    outline: none;

    transition: transform 0.25s;
}

.nav-button[active] {
    font-weight: bold;
}

#nav-content-wrapper {
    flex: 1;
    padding-left: 5rem;
    overflow: auto;
}

.nav-content {
    position: relative;
    transition: opacity 0.25s;
}

.nav-content+.nav-content {
    margin-top: 4rem;
}

.nav-content:not([active]) {
    opacity: 0.25;
    cursor: pointer;
}

about-content {
    display: block;
}

about-content p {
    margin: 0px;
    font-size: 1.25em;
}

skills-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

skills-content .group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

skills-content .group h2 {
    margin: 0px;
    font-size: 1.5em;
}

skills-content .group .pills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.3em;
}

skills-content .group .pills .pill {
    display: inline-flex;
    padding: 0.25em 1em;
    border-radius: 5px;
    align-items: center;
}

experience-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

experience-content .group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

experience-content .group h2 {
    margin: 0px;
    font-size: 1.5em;
}

experience-content .group .xps {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0.75em;
}

experience-content .group .xp {
    display: flex;
    flex-direction: column;

    padding: 1em;
    border-radius: 6px;
    background-color: rgb(220, 220, 220);
}

experience-content .group .xp h3 {
    font-size: 1.125em;
    margin: 0px;
}

experience-content .group .xp .date,
experience-content .group .xp .position {
    display: block;
    font-size: 0.9em;
}

experience-content .group .xp .links {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

experience-content .group .xp a {
    color: #000000;
    text-decoration: none;
}

experience-content .group .xp a::before {
    content: "↗ ";
}

@media (max-width: 1366px) or (max-height: 768px) {
    body {
        padding: 3rem;
    }
}

@media (orientation: portrait) and (max-width: 1024px) {
    :root {
        font-size: 1.25rem;
    }
}

@media (orientation: portrait) and (max-width: 720px) {
    :root {
        font-size: 1rem;
    }
}

@media (orientation: portrait) and (max-width: 430px) {
    :root {
        font-size: 0.75rem;
    }
}

@media (orientation: portrait) {
    body {
        padding: 1rem;
        flex-direction: column;
    }

    aside {
        position: relative;
        margin-bottom: 2em;
        height: auto;
    }

    nav {
        position: absolute;
        bottom: 0;
        right: 0;
        align-items: end;
    }

    nav .nav-button {
        padding: 0px;
    }

    #nav-content-wrapper {
        padding-left: 0px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(10, 10, 10);
        color: #ffffff;
    }

    aside #socials>a>svg {
        fill: #ffffff;
    }

    nav .nav-button {
        color: #ffffff;
    }

    experience-content .group .xp {
        background-color: rgb(60, 60, 60);
    }

    experience-content .group .xp a {
        color: #ffffff;
    }
}

@media (hover: hover) {
    .nav-button:not(.nav-button[active]):hover {
        cursor: pointer;
        transform: translateX(5px);
    }

    #socials>a>svg:hover {
        opacity: 0.5;
    }

    experience-content .group .xp a:hover {
        text-decoration: underline;
    }
}

@media (hover: hover) and (orientation: portrait) {
    .nav-button:not(.nav-button[active]):hover {
        transform: translateX(-5px);
    }
}
